/*
  Global styles

  Low-specificity, global styles that apply to the whole
  project: https://cube.fyi/css.html
*/

/* TODO - compare these to Andy Bell's & include & adapt his global styles */

/* Full-screen container with header & footer technique using html & body from Temani Afif - https://verpex.com/blog/website-tips/modern-layouts-using-css-grid */
html {
	display: grid;
	min-height: 100%;
	background: var(--surface-1);
	color: var(--text-1);
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	font-family: var(--ff-system);
  font-size: var(--step-0);
  /* TODO - check scroll overflow */
	/* to avoid scroll-based layout shifts */
  overflow-y: scroll;
  /* Based on Bear Blog's default CSS (see more below) */
	word-wrap: break-word;
	overflow-wrap: break-word;
}

main {
	padding-block: var(--space-l);
}

h1 {
  font-size: var(--step-5);
}
h2 {
  font-size: var(--step-4);
}
h3 {
  font-size: var(--step-3);
}
h4 {
  font-size: var(--step-2);
}
h5 {
  font-size: var(--step-1);
}
h6 {
  font-size: var(--step-0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

/* FIXME max-width causing an issue with my cards */
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
figcaption {
  max-width: var(--measure);
}

/* CSS NESTING not yet a baseline feature but I can use because of PostCSS plugin: postcss-preset-env */
a {
  color: var(--link-color);
	&:hover,
	&:focus {
		text-decoration-thickness: 0.25em;
		text-underline-offset: 0.075em;
		text-decoration-color: color-mix(
			in oklab, var(--link-color), transparent 25%
		);
	}
	&:focus-visible {
		text-decoration-thickness: max(0.08em, 1px);
		text-underline-offset: 0.15em;
	}
}

/* TODO finish focus outline css variables */
/* from S.Eckles - https://css-tricks.com/standardizing-focus-styles-with-css-custom-properties/ */
:is(a, button, input, textarea, summary) {
  --outline-size: max(2px, 0.08em);
  --outline-style: solid;
  --outline-color: currentColor;
}

:is(a, button, input, textarea, summary):focus {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}


/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
 */
nav a {
	margin-right: 0.625em;
}

blockquote {
  border-left: 4px solid var(--surface-3);
  font-size: var(--step-1);
  font-style: italic;
  margin: var(--space-m) 0;
  padding-inline: var(--space-m);

	& p {
		padding-block-end: var(--space-3xs);
	}
}

small {
	color: var(--text-2);
}
/* TODO is this needed? */
img {
	height: auto;
}

input {
	font-size: var(--step-0);
}
textarea {
	width: 100%;
	font-size: var(--step-0);
}

table {
	width: 100%;
}

code,
pre {
	font-family: var(--ff-monospace);
	font-size: var(--step--1);
}
code {
	padding: 0.125em 0.313em;
	background-color: var(--surface-3);
}
pre {
	padding: var(--space-m);
}
pre > code {
	all: unset;
}
