html {
  /* --hue: 320; */
  --hue: 305;

  --primary-1: oklch(99% .02 var(--hue));
  --primary-2: oklch(97% .07 var(--hue));
  --primary-3: oklch(90% .1 var(--hue));
  --primary-4: oklch(80% .2 var(--hue));
  --primary-5: oklch(72% .25 var(--hue));
  --primary-6: oklch(67% .3 var(--hue));
  --primary-7: oklch(58% .32 var(--hue));
  --primary-8: oklch(50% .27 var(--hue));
  --primary-9: oklch(35% .25 var(--hue));
  --primary-10: oklch(25% .2 var(--hue));
  --primary-11: oklch(13% .2 var(--hue));
  --primary-12: oklch(5% .15 var(--hue));

  --text-1: var(--primary-1);
  --text-2: var(--primary-2);
  --surface-1: var(--primary-12);
  --surface-2: var(--primary-11);
  --surface-3: var(--primary-10);
  --surface-4: var(--primary-9);

  --link-color: var(--primary-4);
  accent-color: var(--primary-6);
}

@media (prefers-color-scheme: light) {
  html {
    --text-1: var(--primary-12);
    --text-2: var(--primary-11);
    --surface-1: var(--primary-1);
    --surface-2: var(--primary-2);
    --surface-3: var(--primary-3);
    --surface-4: var(--primary-4);

    --link-color: var(--primary-7);
  }
}
