/* Using Open Props okLCH beta color palettes - https://nerdy.dev/open-props-oklch-palettes-beta */

html {
  /* --color-hue: var(--hue-red); */
  --color-hue: 15deg;
  --gray-hue: 50;
  --gray-chroma: .02;

  --text-1: var(--color-0);
  --text-2: var(--color-1);
  --surface-1: var(--gray-14);
  --surface-2: var(--gray-13);
  --surface-3: var(--gray-12);
  --surface-4: var(--gray-11);

  --link-color: var(--color-3);
  accent-color: var(--color-bright);
}

@media (prefers-color-scheme: light) {
  html {
    --text-1: var(--color-15);
    --text-2: var(--color-14);
    --surface-1: var(--gray-0);
    --surface-2: var(--gray-1);
    --surface-3: var(--gray-2);
    --surface-4: var(--gray-3);

    --link-color: var(--color-8);
  }
}

/* FOR REFERENCE ONLY */
/*
--hue-red: 25;
--hue-pink: 350;
--hue-purple: 310;
--hue-violet: 290;
--hue-indigo: 270;
--hue-blue: 240;
--hue-cyan: 210;
--hue-teal: 185;
--hue-green: 145;
--hue-lime: 125;
--hue-yellow: 100;
--hue-orange: 75;
*/
