.button {
  display: flex;
  gap: 0.2em;
  align-items: center;
  background-color: var(--link-color);
  color: var(--btn-text);
  padding:  0.625em 1.25em;
  border-radius: 0.25em;
  border: none;
  text-decoration: none;
  justify-self: start;
  transition: box-shadow 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
      /* outline 0.2s cubic-bezier(0.075, 0.82, 0.165, 1); */
}

.button:focus {
  outline-color: transparent;
}

.button:hover {
  filter: brightness(110%);
  outline: 2px solid var(--link-color);
  outline-offset: -1px;
}

.button:focus-visible {
  box-shadow: 0 0 0 0.1em var(--surface-1), 0 0 0 0.3em var(--link-color);
}

/* TODO: remove PREVIOUS VERSION of .button transition */
  /* transition: box-shadow 0.2s cubic-bezier(0.075, 0.82, 0.165, 1),
      opacity 0.2s cubic-bezier(0.075, 0.82, 0.165, 1),
      scale 0.2s cubic-bezier(0.075, 0.82, 0.165, 1); */
