---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import CardBlog from '../../components/CardBlog.astro';

const draftPosts = (await getCollection('blog', ({ data }) => {
  return data.draft === true;
})).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const publishedPosts = (await getCollection('blog', ({ data }) => {
  return data.draft !== true;
})).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const showDrafts = true;

---

<BaseLayout>
	<main class="wrapper">
    <h1 data-theme='dark'>Blog posts</h1>
    <ul role="list" class="flow">
      {
        showDrafts && draftPosts.map((post) => (
          <CardBlog post={post} />
        ))
      }
      {
        publishedPosts.map((post) => (
          <CardBlog post={post} />
        ))
      }
    </ul>
	</main>
</BaseLayout>

