---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import CardBlog from '../../components/CardBlog.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<style>
	ul {
    margin: unset;
		padding: unset;
	}
</style>

<BaseLayout>
	<main class="wrapper">
		<section>
			<ul role="list" class="layout-grid">
				{
					posts.map((post) => (
            <CardBlog post={post} />
					))
				}
			</ul>
		</section>
	</main>
</BaseLayout>

