---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import CardWork from '../../components/CardWork.astro';

const works = (await getCollection('works')).sort(
	(a, b) => a.data.releaseDate.valueOf() - b.data.releaseDate.valueOf()
);
---

<style>
  main {
    display: grid;
    justify-content: center;
  }
	ul {
    margin: unset;
		padding: unset;
	}
</style>

<BaseLayout>
	<main>
		<section>
			<ul role="list" class="layout-grid">
				{
					works.map((work) => (
						<li>
							<CardWork work={work} />
						</li>
					))
				}
			</ul>
		</section>
	</main>
</BaseLayout>

