---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import CardWork from '../../components/CardWork.astro';

const works = (await getCollection('works')).sort(
	(a, b) => a.data.releaseDate.valueOf() - b.data.releaseDate.valueOf()
);
---

<BaseLayout>
	<main class="wrapper">
    <h1 data-theme='dark'>Creative Works</h1>
    <ul role="list" class="flow">
      {
        works.map((work) => (
          <li>
            <CardWork work={work} />
          </li>
        ))
      }
    </ul>
	</main>
</BaseLayout>

