---
import { CollectionEntry, getCollection } from 'astro:content';
import ArchiveWork from '../../layouts/ArchiveWork.astro';

export async function getStaticPaths() {
	const archive = await getCollection('archive');
	return archive.map((work) => ({
		params: { slug: work.slug },
		props: work,
	}));
}
type Props = CollectionEntry<'archive'>;

const work = Astro.props;
const { Content } = await work.render();
---

<ArchiveWork {...work.data}>
	<Content />
	<!-- <p>By {work.data.author}</p> -->
</ArchiveWork>
