---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import CardArchive from '../../components/CardArchive.astro';

const archive = (await getCollection('archive')).sort(
	(a, b) => b.data.releaseDate.valueOf() - a.data.releaseDate.valueOf()
);
---

<style>
  main {
    padding-inline: var(--space-l);
    padding-inline: 3vw;
  }
	ul {
    margin: unset;
    padding: unset;
	}
</style>

<BaseLayout>
	<main>
		<section>
			<ul class="grid" data-rows="masonry" role="list">
				{
					archive.map((work) => (
						<li>
              <CardArchive work={work} />
						</li>
					))
				}
			</ul>
		</section>
	</main>
</BaseLayout>

