/* utilities are loaded last and should be able to override previous rules therefore it's ok to important! where necessary */

.marg-top {
  margin-top: var(--space, var(--space-s));
}
.marg-bottom {
  margin-bottom: var(--space, var(--space-s));
}

.pad-top {
  padding-top: var(--space, var(--space-s));
}
.pad-bottom {
  padding-bottom: var(--space, var(--space-s));
}
.pad-inline {
  padding-inline-start: var(--space, var(--space-s));
  padding-inline-end: var(--space, var(--space-s));
}
.pad-block {
  padding-block-start: var(--space, var(--space-s));
  padding-block-end: var(--space, var(--space-s));
}

.center {
  text-align: center;
}

/* for ACCESSIBILITY */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
/* See https://courses.joshwcomeau.com/css-for-js/02-rendering-logic-2/18-hidden-content#hiding-from-screens */
