---
import Layout from '../layouts/PageLayout.astro';
---

<style>
	span {
		background-color: lime;
	}
</style>

<Layout
	title="About Christine Wilks, PhD"
	description="Writer, artist, researcher and developer of interactive digital narratives and creative web apps."
	pubDate={new Date('03 Feb 2022')}
	updatedDate={new Date('25 Jul 2023')}
	heroImage="/placeholder-about.jpg"
>
<p>I'm a digital writer, artist, developer of creative web apps and practice-based researcher. In my creative practice and research I specialise in character-driven interactive digital narratives that adapt to reader choice and have the potential to move and transform people. This involves developing original ludonarrative techniques (where story and gameplay entwine) to model convincing characters with apparent psychological depth.</p>

<p>My latest creative work is <a href="/works/voices/">Voices</a>, an interactive digital fiction for body image bibliotherapy, which I made for <a target="_blank" href="https://sites.google.com/ualberta.ca/writingnewbodies/home?authuser=0">Writing New Body Worlds</a>, an international, transdisciplinary research project, funded by the Social Sciences and Humanities Research Council of Canada. I was the postdoctoral researcher-creator on the project.</p>

<p>I'm also the digital narrative creator for another international, interdisciplinary research project, <i>The intimate technology shaping millions of lives: Exploring the possibilities of menstruation and perimenopause tracking apps for people with diverse embodied experiences</i>, supported by the Marsden Fund (New Zealand/Aotearoa). The project is in the research phase. Once we have the findings, I'll start work on the story-driven app.</p>

<p>Currently, I'm also working on a personal project, an interactive psychological thriller narrative called <a href="/works/stitched-up/">Stitched Up</a>. This work-in-progress began life as part of my creative practice-based PhD in Digital Writing at Bath Spa University. During which, I also built an early prototype version of my original interactive narrative engine, the <i>Conversengine</i>, and my custom-built authoring tool, the <i>Convowriter</i>. My PhD thesis is entitled: <i>Stitched Up</i> in The <i>Conversengine</i>: Using Expressive Processing and Multimodal Languages to Create a Character-Driven Interactive Digital Narrative.</p>

<p>I created the majority of my earlier works of interactive storytelling and playable media in Flash. My digital fiction, <i>Underbelly</i>, won
the <a target="_blank" href="http://newmediawritingprize.co.uk/?page_id=350">New Media Writing Prize 2010</a> and the
MaMSIE Digital Media Competition 2011. My work is published in online journals and anthologies, including the
<a target="_blank"
	href="http://collection.eliterature.org/2/index.html">Electronic Literature Collection, Volume 2</a> and the <a target="_blank" href="http://anthology.elmcip.net/">ELMCIP Anthology of European Electronic Literature</a>,
	and has been presented at international festivals, exhibitions and conferences. You can also see these Flash works in my <a href="/archive/">Archive</a>. From 2007 to 2013 I was a core member of the digital arts remixing collective, <a href="/archive/remixworx/">Remixworx</a>, and contributed over 100 remixes. Before working in digital media and web technologies, I made short films, videos, animations, installations and wrote fiction and screenplays.</p>

<p>I have a PhD in Digital Writing from Bath Spa University, an MA in Creative Writing and New Media from De Montfort University and an MA in Fine Art from Cardiff Institute of Higher Education.</p>

<p>My creative media & technical skills include:</p>
<ul>
	<li>HTML, CSS & JavaScript</li>
	<li>Angular</li>
	<li>Firebase</li>
	<li>Astro</li>
	<li>GSAP animation</li>
	<li>Accessible web design</li>
	<li>Adobe Animate</li>
	<li>Adobe Illustrator</li>
	<li>Adobe XD</li>
	<li>Adobe Photoshop</li>
	<li>Adobe Premier</li>
	<li>Adobe Audition</li>
	<li>(& formerly, Flash)</li>
</ul>

<p>I'm based in the north of England but do most of my work remotely.</p>

</Layout>
