---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection, getEntry } from 'astro:content';
import CardArchive from '../components/CardArchive.astro';
import CardWork from '../components/CardWork.astro';

const voices = await getEntry('works','voices');

const archive = (await getCollection('archive'));

const starArchive = archive.filter(
  (work) => work.data.star
);

const featuredArchive = archive.filter(
  (work) => work.data.featured && !work.data.star
).sort(
	(a, b) => b.data.releaseDate.valueOf() - a.data.releaseDate.valueOf()
);

---

<style>
  h1, h2, h3 {
    color: var(--color-2);
  }
</style>

<BaseLayout>
	<main>
    <div class="wrapper flow">
      <h1>Creative work by Christine Wilks</h1>
      <section class="flow">
        <h2>New release!</h2>
        <CardWork work={voices} />
      </section>
      <h2>Selected works from the archive</h2>
      <section>
        <ul class="grid" role="list">
          {
            starArchive.map((work) => (
              <li>
                <CardArchive work={work} />
              </li>
            ))
          }
          {
            featuredArchive.map((work) => (
              <li>
                <CardArchive work={work} />
              </li>
            ))
          }
        </ul>
      </section>
    </div>
	</main>
</BaseLayout>

