---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<main class="center-measure flow">
		<h1>Hello, <a href="https://writing-new-bodies.web.app/">Voices!</a></h1>
		<h2>Temporary content</h2>

	</main>
</BaseLayout>

