---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

interface Props {
  work: CollectionEntry<'archive'>;
}

const { data, slug } = Astro.props.work;
const today = new Date();
---

<style>
  .card {
    display: grid;
    gap: var(--space-xs);
  }
</style>

<div class="card surface-reversed">
  <h2>
    <a href={`/archive/${slug}/`}>{data.title}</a>
  </h2>
  <p>{ data.description }</p>
  {
    <FormattedDate date={data.releaseDate} option='y' />
  }
</div>
