---
import { Icon } from 'astro-icon';
const { title } = Astro.props;
---

<style>
  p {
    padding-block-start: var(--space-2xs);
    color: var(--text-2);
  }
</style>

<p><Icon name="ion:logo-youtube" /> Here's a video screen recording of <cite>{title}</cite>. <small>I created the original work in <a href="https://en.wikipedia.org/wiki/Adobe_Flash">Flash</a> but the web has discontinued support for Flash.</small></p>

