---
const today = new Date();
---

<style>
	footer {
		padding-block: var(--space-m);
		text-align: center;
		background-color: var(--surface-2);
    color: var(--text-1);
	}
	p:first-of-type {
		margin-bottom: var(--space-2xs);
	}
</style>

<footer data-theme="dark">
	<div class="center-measure">
		<p><a href="https://github.com/crissxross">GitHub</a>
			| <a href="https://codepen.io/crissxross">Codepen</a>
			| <a href="https://www.youtube.com/channel/UCj5Q-NFplyMnzSe8fPJcXmA">YouTube</a>
			| twitter <a href="https://twitter.com/crissxross">@crissxross</a></p>
		<p>
			&copy; {today.getFullYear()} Christine Wilks. All rights reserved.
		</p>
	</div>
</footer>
