---
const today = new Date();
---

<style>
	footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--space-m);
    justify-items: center;
		padding-block-start: var(--space-m);
		padding-block-end: var(--space-l);
		background-color: var(--surface-2);
    color: var(--text-1);
	}
  .cluster {
    --cluster-horizontal-alignment: center;
  }
</style>

<footer data-theme="dark">
		<ul role="list" class="cluster">
      <li><a href="https://github.com/crissxross">GitHub</a></li>

			<li><a href="https://codepen.io/crissxross">Codepen</a></li>
			<li><a href="https://www.youtube.com/channel/UCj5Q-NFplyMnzSe8fPJcXmA">YouTube</a></li>
      <li>
        <!-- <small>twitter:</small>  -->
        <a href="https://twitter.com/crissxross">@crissxross</a>
      </li>
      <li>
        <!-- <small>mastadon:</small> -->
        <a href="https://pkm.social/@crissxross">@crissxross@pkm.social</a>
      </li>
    </ul>
		<p>
			&copy; {today.getFullYear()} Christine Wilks. All rights reserved.
		</p>
</footer>
