---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<style>
	header {
    --gutter: var(--space-2xs);
		padding-block: var(--space-xs);
    padding-inline: var(--gutter);
		background-color: var(--surface-2);
    color: var(--text-1);
	}
	h2 {
		font-size: var(--step-3);
	}
</style>

<header data-theme="dark">
	<div class="repel wrapper">
		<h2>
			{SITE_TITLE}
		</h2>
		<nav class="cluster">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/works">Creative Works</HeaderLink>
			<HeaderLink href="/archive">Archive</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</nav>
	</div>
</header>
