---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<div class="center-measure flex">
		<h2>
			{SITE_TITLE}
		</h2>
		<nav>
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/works">Creative Works</HeaderLink>
			<HeaderLink href="/archive">Archive</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</nav>
	</div>
</header>
<style>
	header {
		padding-block: var(--space-s);
		background-color: var(--surface-2);
	}
	h2 {
		font-size: var(--step-3);
	}
	.flex {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		column-gap: var(--space-m);
		/* justify-content: space-between; */
	}
</style>
