---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';


type Props = CollectionEntry<'archive'>['data'];

const { title, description, releaseDate } = Astro.props;
---

<BaseLayout>
	<main class="center-measure">
		<article class="flow">
			<h1 class="title">{title}</h1>
			<p>
				{
					releaseDate && (
						<FormattedDate date={releaseDate} option='y' />
					)
				}
			</p>
			<p>{description}</p>
			<hr />
			<slot />
		</article>
	</main>
</BaseLayout>
