---
import type { CollectionEntry } from 'astro:content';
import SingleLayout from './SingleLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';


type Props = CollectionEntry<'archive'>['data'];

const { title, description, releaseDate } = Astro.props;
---

<SingleLayout>
  <h1 class="title">{title}</h1>
  <p>
    {
      releaseDate && (
        <FormattedDate date={releaseDate} option='y' />
      )
    }
  </p>
  <p>{description}</p>
  <hr />
  <slot />
</SingleLayout>
