---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';


type Props = CollectionEntry<'archive'>['data'];

const { title, description, releaseDate } = Astro.props;
---

<style>
	hr {
		border-top: 1px solid var(--surface-3);
		margin: 1rem 0;
	}
</style>

<BaseLayout>
	<main>
		<article class="flow center-measure">
			<h1 class="title">{title}</h1>
			<p>
				{
					releaseDate && (
						<FormattedDate date={releaseDate} option='y' />
					)
				}
			</p>
			<p>{description}</p>
			<hr />
			<slot />
		</article>
	</main>
</BaseLayout>
