---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';


type Props = CollectionEntry<'works'>['data'];

const { title, description, releaseDate } = Astro.props;
const today = new Date();
---

<style>
	span {
		font-style: italic;
	}
</style>

<BaseLayout>
	<main>
		<article class="flow center-measure">
			<h1 class="title">{title}</h1>
			<p>
				{
					releaseDate &&
					releaseDate < today ?
					(
						<FormattedDate date={releaseDate} option='m-y' />
					):
					<span>Work in progress</span>
				}
			</p>
			<p>{description}</p>
			<hr />
			<slot />
		</article>
	</main>
</BaseLayout>
